<!DOCTYPE html>

<html ng-app>
<head>
	<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.2/angular.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="controller.js"></script>
</head>
<body>
	<h1>Tull</h1>
	<div class="jumbotron">
		<h1>CurryTime</h1>
		<p>- Timeføring gjort vanskelig</p>
	</div>

	<div class="container-fluid">
		<div ng-controller="ProsjektController">
			<form ng-submit="addProsjekt()">
				<input type="text" ng-model="prosjektnavn" size="30" placeholder="prosjektnavn">
				<input class="btn btn-primary" type="submit" value="legg til">
			</form>

			<table class="table table-striped">
				<thead>
					<tr>
						<th>Prosjektnavn</th>
						<th ng-repeat="dag in ukedager">{{dag}}</th>
					</tr>
				</thead>
				<tr ng-repeat="prosjekt in prosjekter">
					<th>{{prosjekt.navn}}</th>
					<td ng-repeat="dag in prosjekt.dager">
						<input type="number" min="0" max="24" ng-model="dag.timer" class="timer" ng-readonly="bekreftet">
						<input type="text" ng-model="dag.beskrivelse" class="beskrivelse" ng-readonly="bekreftet">
					</td>
					<td>{{ prosjekt.summer() }}</td>
				</tr>
				<tfoot>
					<tr>
						<th>Sum timer</th>
						<th ng-repeat="dag in ukedager">{{summer(prosjekter, $index)}}</th>
					</tr>
				</tfoot>
			</table>

			<button ng-click="bekreftet=true" class="btn btn-primary btn-sm">Bekreft</button>
			<button ng-click="bekreftet=false" class="btn btn-sm">Angre Bekreft</button>

		</div>
	</div>
</body>
</html>
